<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">
        <title>后台管理</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
    {% load static %}
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="{% static '/css/font.css' %}">
        <link rel="stylesheet" href="{% static '/css/xadmin.css' %}">
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static '/lib/layui/layui.js' %}" charset="utf-8"></script>
        
  </head>
  
  <body>
    <div class="x-body">
        {% if code == 1 %}
        <form class="layui-form" id="formdata" enctype="multipart/form-data" method="POST" action="/editarticle/">
            <input type="text"  name="id"  value="{{ data.id }}" style="display:none;" />
          <div class="layui-form-item">
              <label for="title" class="layui-form-label">
                  <span class="x-red">*</span>标题
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="title" name="title" required="" lay-verify="title"
                  autocomplete="off" class="layui-input" value="{{ data.title }}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="source" class="layui-form-label">来源
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="source" name="source"  lay-verify="source"
                  autocomplete="off" class="layui-input" value="{{ data.source }}">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="URL" class="layui-form-label">
                  URL
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="URL" name="URL"  lay-verify="URL"
                  autocomplete="off" class="layui-input" value="{{ data.url }}">
              </div>
          </div>
            <div class="layui-form-item">
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    图片：
                    <div class="layui-upload-list" id="imgdiv">
                        <img id="headimg" title="上传第一张图片" src='{{ data.head_img | default:"/static/images/up.png" }}' class="layui-upload-img" />
                        <input  type="file" id="head_img" name="head_img"  lay-verify="img" autocomplete="off" 
                            accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"  style="display:none;"/>
                        <img id="headimg2" title="上传第二张图片" src='{{ data.head_img2 | default:"/static/images/up.png" }}' class="layui-upload-img" />
                        <input  type="file" id="head_img2" name="head_img2"  lay-verify="img" autocomplete="off" 
                            accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"  style="display:none;"/>
                        <img id="headimg3" title="上传第三张图片" src='{{ data.head_img3 | default:"/static/images/up.png" }}' class="layui-upload-img" />
                        <input  type="file" id="head_img3" name="head_img3"  lay-verify="img" autocomplete="off" 
                            accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"  style="display:none;"/>
                    </div>
                </blockquote>
            </div>
            <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  id="add"  class="layui-btn" lay-filter="add" lay-submit="" >
                  修改
              </button>
            </div>
      </form>
      {% else %}
      <div>{{ msg }}</div>
      {% endif %}
    </div>
    <script>
        $(function(){
            $("#headimg").click(function(){
                $("#head_img").click()
            })
            $("#head_img").change(function(){
                var fileReader = new FileReader()
                fileReader.readAsDataURL(this.files[0])
                fileReader.onload = function(e){
                    $("#headimg").attr('src',e.target.result)
                }
            })
            $("#headimg2").click(function(){
                $("#head_img2").click()
            })
            $("#head_img2").change(function(){
                var fileReader = new FileReader()
                fileReader.readAsDataURL(this.files[0])
                fileReader.onload = function(e){
                    $("#headimg2").attr('src',e.target.result)
                }
            })
            $("#headimg3").click(function(){
                $("#head_img3").click()
            })
            $("#head_img3").change(function(){
                var fileReader = new FileReader()
                fileReader.readAsDataURL(this.files[0])
                fileReader.onload = function(e){
                    $("#headimg3").attr('src',e.target.result)
                }
            })
        })
        layui.use(['form','layer','upload'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer
        ,upload = layui.upload;
          //自定义验证规则
          form.verify({
            title: function(value){
              if(value.length <= 0){
                return '标题不能为空';
              }
            }
          });
          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
            var form=document.getElementById("formdata");
            var formData=new FormData(form);
            console.log(formData)
            jQuery.ajax({
                url:'/editarticle/',
                type:'post',
                processData: false,  // 告诉jQuery不要去处理发送的数据
                contentType: false ,
                data:formData,
                dataType:'json',
                success:function(data){
                    if(data.code == 1){
                        layer.alert(data.msg, {icon: 6},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        });
                    }else{
                        layer.alert(data.msg, {icon: 2},function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        });
                    }
                }
            })
            return false;
          });
        });
    </script>
  </body>
</html>